@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--rtc-primary-font);
  color: var(--rtc-color-black);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--rtc-color-white);
}

:root {
  /* FONTS */
  --rtc-primary-font: 'Work Sans', sans-serif;

  /* BRANDING COLORS */
  --rtc-color-white: white;
  --rtc-color-black: black;
  --rtc-color-grey: grey;
  --rtc-color-lightgrey: rgb(189, 187, 187);
  --rtc-color-error: rgb(253, 6, 6);
  --rtc-color-star: rgb(124, 241, 159);

  /* Shadows */
  --rtc-shadow-color-font: rgb(247, 241, 69, 0.5);

  /* BACKGROUND-COLORS */
  --rtc-background-darkBlue: rgb(8, 60, 203);
  --rtc-background-lightBlue: rgb(142, 136, 244);
  --rtc-background-green: rgb(2, 88, 9);
  --rtc-background-greenHover: rgb(12, 117, 21);
  --rtc-color-add: rgb(239, 185, 50);
  --rtc-color-add-hover: rgb(243, 201, 96);
  --rtcbackground--form: rgb(55, 150, 63);
  --rtc-background--del: rgb(251, 8, 8);
  --rtc-background--delHover: rgb(247, 77, 77);

  /* TEXT-COLORS */
  --rtc-primary-text: var(--rtc-color-white);
  --rtc-secondary-text: var(--rtc-color-black);

  /* BORDER-COLORS */
  --rtc-primary-border: 3px ridge var(--rtc-color-border);

  /* TEXT SHADOW*/
  --rtc-textShadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;

  /* BORDER RADIUS */
  --rtc-border-radius-max: 100%;
  --rtc-border-radius-min: 30px;
  --rtc-border-radius-button: 10px;

  /* SPACINGS */
  --rtc-margin-xs: 10px;
  --rtc-margin-s: 20px;
  --rtc-margin-m: 30px;
  --rtc-margin-l: 40px;
  --rtc-margin-xl: 50px;
  --rtc-margin-section-movil: 100px;
  --rtc-margin-section: 150px;

  --rtc-padding-xxs: 5px;
  --rtc-padding-xs: 10px;
  --rtc-padding-s: 20px;
  --rtc-padding-m: 30px;
  --rtc-padding-l: 40px;
  --rtc-padding-xl: 50px;

  --rtc-gap-xxs: 5px;
  --rtc-gap-xs: 10px;
  --rtc-gap-s: 20px;
  --rtc-gap-m: 30px;
  --rtc-gap-l: 40px;
  --rtc-gap-xl: 50px;
}
